@import './../../styles/utilities/ms';
@import './../../styles/utilities/u-space';

$pageHeaderSpacing: ms(2);

.page-header {
  @include u-space($pageHeaderSpacing);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.page-header__main {
  @include u-space(ms(-2), $pageHeaderSpacing);
  display: flex;
  align-items: center;
  margin-right: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: calc(100% - 50em);
  min-width: 50%;
}

.page-header__title {
  order: 2;
}

.page-header__badges {
  @include u-space(ms(-4), ms(0));
  order: 1;
}

.page-header__actions,
.page-header__badges {
  display: inline-flex;
  flex-wrap: wrap;
  list-style: none;
}

.page-header__actions {
  @include u-space(ms(-4), $pageHeaderSpacing);
}
