.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sub-header {
  border-bottom: 1px solid var(--t-keyline);
}

.page-header {
  padding: 2rem 1rem;
}

.main {
  background-color: rgba(19, 66, 107, 0.05);
  flex: 1 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  padding: 2rem;
  display: flex;
}
