.alert {
  --text-color: #fff;
  --alert-bg: black;
  color: var(--text-color);
  background-color: var(--alert-bg);
  padding: 2rem;
}

.alert--neutral {
  --alert-bg: blue;
}

.alert--warning {
  --alert-bg: orange;
}

.alert--danger {
  --alert-bg: red;
}

.alert--success {
  --alert-bg: green;
}

.alert__title {
  font-size: 1.5rem;
}
