@import '~Styles/utilities/ms';

.wrapper {
  display: flex;

  &:focus-within .control,
  &.wrapper--chip:focus-within .label {
    box-shadow:
      0 0 0 2px #fff,
      0 0 0 3px var(--t-brand-primary);
  }

  &:not(:first-child) {
    margin-top: ms(-4);
  }
}

.wrapper--radio .control {
  &,
  &:before {
    border-radius: 50%;
  }

  &:before {
    content: '';
    display: var(--check-display, none);
    background-color: var(--t-brand-primary);
    // Use these values to prevent rounding issues.
    width: 0.75em;
    height: 0.75em;
  }
}

.wrapper--chip {
  display: inline-flex;

  .label {
    padding: ms(-4, $thread: em) ms(5, $thread: em) ;
    color: var(--chip-color, var(--t-brand-primary));
    background-color: var(--chip-bg, #fff);
    border: 1px solid var(--t-brand-primary);
    border-radius: 3px;
    box-shadow: #{'hsla(var(--t-brand-primary-hsl), 0.1)'} 0 2px 10px 0;
  }
}

.input:checked {
  ~ .label {
    --chip-bg: var(--t-brand-primary-70);
    --chip-color: #fff;
  }

  ~ .control {
    --check-display: block;
  }
}

.control {
  --control-size: #{ms(2)};
  width: var(--control-size);
  height: var(--control-size);
  border: 1px solid var(--t-brand-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: ms(-4);
  margin-top: ms(-14);
}

.icon {
  --icon-fill: var(--t-brand-primary);
    // Use this value to prevent scaling issue.
  --icon-size: 0.85em;
  display: var(--check-display, none);
}

