@import '~rfs/scss';
@import '~Styles/utilities/ms';
@import '~Styles/tokens/typography';

.h1,
h1 {
  @include font-size($fs-display-lg);
  --prose-top-spacing: #{ms(10)};
  font-weight: normal;
}

.h2,
h2 {
  @include font-size($fs-display-md);
  --prose-top-spacing: #{ms(8)};
  font-weight: normal;
}

.h3,
h3 {
  @include font-size($fs-body);
  --prose-top-spacing: #{ms(6)};
  font-size: 1.5rem;
  font-weight: normal;
}

.h4,
h4 {
  font-size: ms(0);
  font-weight: 700;
}

.h5,
h5 {
  font-size: ms(-2);
  font-weight: 700;
}

.h6,
h6 {
  font-size: ms(-4);
  font-weight: 700;
}
