@import './../../styles/utilities/ms';
@import './../../styles/tokens/typography';

.wrapper {
  --section-badge-width: 6rem;
  --section-bp: 50rem;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  // Ensure baseline alignment for different font sizes
  line-height: ms(3); 
}

.section {
  padding: ms(-12) ms(0);
  max-width: 100%;
}

.section--badges {
  flex-grow: 1;
  min-width: var(--section-badge-width);
  flex-basis: calc((var(--section-bp) - 100%) * 999);
}

.section--title {
  min-width: 15%;
  flex-basis: calc((var(--section-bp) - 100%) * 999);
  padding-right: 0;
}

.section--description {
  min-width: 15%;
  flex-basis: calc((var(--section-bp) - 100%) * 999);
  flex-grow: 999;
  color: var(--text-muted-color);
}

.section--meta {
  min-width: 20%;
  flex-basis: calc((var(--section-bp) - 100%) * 999);
  color: var(--text-muted-color);
}

.section--date {
  min-width: 20%;
  flex-basis: calc((var(--section-bp) - 100%) * 999);
  font-size: $fs-sm;
}

.section--actions {
  flex-grow: 0;
}

.title {
  font-size: $fs-base;
  font-weight: 700;

  > a {
    color: var(--text-color);
    text-decoration: none;
  }
}

.badges {
  list-style: none;
  display: inline-flex;
}

.action-btn {
  display: block;
  width: 100%;
}

.meta {}

.meta__title,
.meta__definition {
  float: left;
}

.meta__title {
  clear: left;
  margin-right: ms(-4);

  &:after {
    content: ':';
  }
}
