@import './../../styles/utilities/ms';
@import './../../styles/tokens/typography';

.badge {
  --text-color: #fff;
  --badge-background-color: grey;
  display: inline-block;
  color: var(--text-color);
  font-size: $fs-sm;
  padding: ms(-12, $thread: em) ms(0, $thread: em);
  background-color: var(--badge-background-color);
  letter-spacing: 1px;
  border-radius: 999px;
}

.badge--primary {
  --badge-background-color: var(--t-brand-primary);
}

.badge--warning {
  --badge-background-color: var(--t-warning);
}

.badge--success {
  --badge-background-color: var(--t-success);
}

.badge--danger {
  --badge-background-color: var(--t-danger);
}
