@import '~Styles/utilities/ms';

@mixin textInput {
  border: 0;
  box-shadow: var(--t-box-shadow);
  padding: ms(2, $thread: em);

  background-color: var(--input-bg, #fff);
  color: var(--text-color);

  &:focus {
    outline: 1px solid var(--t-brand-primary);
    outline-offset: -1px;
  }
}
