@import './../../styles/tokens/typography';

.steps {
  padding: 0;
  list-style: none;
}

.steps__step {
  --step-status-size: 0.625em; // The icon/dot size
  --step-color: var(--t-brand-primary); // The background color of the dot
  --step-line-top-color: var(--t-brand-primary);
  --step-line-bottom-color: var(--t-brand-primary);
  z-index: 0;
  position: relative;

  &:first-child {
    --step-line-top-color: transparent;
  }

  &:last-child {
    --step-line-bottom-color: transparent;
  }

  &:not(:last-child) .steps__step-label {
    margin-bottom: 1.8em;
  }
}

.steps__step--is-active {
  --step-color: var(--t-brand-accent);

  .steps__step-title {
    text-decoration: none;
  }

  .steps__step-indicator {
    transform: scale(1.44);
  }
}

.steps__step--success {
  --step-color: #fff;

  .steps__step-icon {
    color: var(--t-success);
  }
}

.steps__step-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--step-status-size);
  margin-right: 1em;

  &:before,
  &:after {
    content: '';
    display: block;
    width: 1px;
    height: 1px;
    flex-grow: 1;
    z-index: 1;
  }

  &:before {
    flex-grow: 0;
    background-color: var(--step-line-top-color);
    height: calc((#{$base-line-height} * 0.5em)  - (var(--step-status-size) / 2));
  }

  &:after {
    background-color: var(--step-line-bottom-color);
  }
}

.steps__step-indicator {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-around;
  border-radius: 999px;
  background-color: var(--step-color);
  width: var(--step-status-size);
  height: var(--step-status-size);
  z-index: 2;
}

.steps__step-icon {
  width: 100%;
  height: 100%;
}

.steps__step-title {
  display: flex;
  color: var(--text-color);
}
