.steps {}

.steps__section {
  list-style: none;
  padding: 0;
}

.steps__section .steps__section {
  padding-left: 2rem;
  color: grey;
}

.steps__step {}

.steps__step-status {
  --step-status-size: 1.7em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 999px;
  width: var(--step-status-size);
  height: var(--step-status-size);
  margin-right: 1em;
}

.steps__step-icon {
  width: 70%;
  height: 70%;
}

.steps__step-title {
  display: flex;
  align-items: center;
  padding: 0.5em 0.8em;
}

.steps__step--is-active > .steps__step-title {
  font-weight: 700;
  color: var(--t-brand-primary);
  background-color: lightblue;
}
