.step-by-step__title {
  font-size: 1.5rem;
}

.step-by-step__toggle {
  color: currentColor;
  background-color: transparent;
  border: 0;
  padding: 0;
}

.step-by-step__item {
  // &:before {
  //   content: '';
  //   display: block;
  // }
}
