.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.subheader {
  border-bottom: 1px solid whitesmoke;
}

.page-header {
  padding: 2rem 1rem;
}

.main {
  background-color: rgba(19, 66, 107, 0.05);
  flex: 1 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  padding: 2rem;
  display: flex;
}

.form {
  display: grid;
  grid-template-columns: 15rem 1fr;
}

.form__steps {
  border-right: 1px solid #dfe3e8;
}

.form__content {
  padding-left: 4rem;
}
