$rfs-base-font-size: 1rem;
@import '~rfs/scss';
@import './../tokens/typography';

body {
  @include font-size($fs-base);
  --text-color: black;
  --text-muted-color: grey;
  --link-color: blue;
  color: var(--text-color);
  font-family: Arial, sans-serif;
  line-height: $base-line-height;
  letter-spacing: 0.031em;
}

a {
  color: var(--link-color);
}

input[placeholder] { text-overflow: ellipsis; }
::-moz-placeholder { text-overflow: ellipsis; }
input:-moz-placeholder { text-overflow: ellipsis; }
