@import '~Styles/utilities/ms';

.dropdown {
  background-color: #fff;
  border: 1px solid var(--t-brand-primary);
  width: ms(28);
  max-width: 100%;
  border-radius: 3px;
  margin-top: calc(#{ms(0)} + 1px);

}

.toggle {
  position: relative;

  &:before {
    content: '';
    display: none;
    width: ms(2);
    height: ms(2);
    background-color: #fff;
    border: 1px solid var(--t-brand-primary);
    border-right-width: 0;
    border-bottom-width: 0;
    transform: rotate(45deg) translateX(-50%);
    position: absolute;
    top: calc(100% + #{ms(0)});
    left: 50%;
    z-index: 1;
    pointer-events: none;
  }
}

.toggle--is-active::before {
  display: block;
}
