@import './../../styles/tokens/typography';
@import './../../styles/utilities/u-space';
@import './../../styles/utilities/ms';

.wrapper {
  border: 0;
  padding: 0;

  + .wrapper {
    margin-top: ms(6);
  }
}

.wrapper--has-error {
  --input-bg: #fef1f2;
}

.header {
  margin-bottom: ms(-4);
}

.label {
  display: block;
  font-size: $fs-sm;
  color: var(--text-muted-color);
  margin-bottom: inherit;
}

.hint {
  font-size: $fs-sm;
}

.errors {
  color: var(--t-danger);
  display: block;
  font-size: $fs-sm;
  margin-top: ms(-4);
}
