@import './../../styles/tokens/typography';
@import './../../styles/utilities/u-space';

.wrapper {
  border: 0;
  padding: 0;

  + .wrapper {
    margin-top: 2rem;
  }
}

.wrapper--has-error {
  --input-bg: #fef1f2;
}

.header {
  @include u-space(0.625rem);
  margin-bottom: 0.625rem;
}

.label {
  display: block;
  font-size: $fs-sm;
  color: var(--text-muted-color);
}

.hint {
  font-size: $fs-sm;
}

.errors {
  color: var(--t-danger);
  display: block;
  font-size: $fs-sm;
}
