/**
 * A utility spacing mixin that adds equal spacing horizonally
 * and vertically between children.
 */
@mixin u-space(
  $value, // The amount of spacing
  $context: 0, // If you have applied u-space to the parent, pass in the value you used here
  $padding: false // Use margin instead of padding for element spacing
) {
  $offset: $value;

  @if ($context == $value) {
    $offset: 0;
  } @else if ($context > $value) {
    $offset: $context - $value;
  } @else {
    $offset: - $offset;
  }

  margin-top: $offset;
  margin-left: $offset;

  > * {
    @if ($padding) {
      padding-top: $value;
      padding-left: $value;
    } @else {
      margin-top: $value;
      margin-left: $value;
    }
  }
}
