@import '~Styles/tokens/typography';
@import '~Styles/utilities/u-space';
@import '~Styles/utilities/ms';

.wrapper {
  --wrapper-bg: transparent;
  border: 0;
  padding: ms(0);
  margin: ms(0) * -1;
  background-color: var(--wrapper-bg);

  + .wrapper {
    padding-top: ms(8);
  }

  .wrapper {
    border-left: 2px solid var(--t-brand-primary);
    margin-left: ms(6);
    padding: (ms(6) / 2) ms(0);
    margin-top: ms(-4);

    + .wrapper {
      margin-top: 0;
    }
  }
}


.wrapper--has-error {
  --wrapper-bg: #fef1f2;
}

.header {
  margin-bottom: ms(-2);
}

.label {
  display: block;
  font-size: $fs-caption;
  color: var(--t-brand-primary);
  margin-bottom: ms(-16);
}

.hint {
  font-size: $fs-caption;
}

.errors {
  color: var(--t-danger);
  display: block;
  font-size: $fs-caption;
  margin-top: ms(-4);
}
